@charset "UTF-8";

@font-face {
    font-family: 'fundamentos';
    src: url(../fontes/mulled-wine-regular.ttf) format('truetype');
}
@font-face {
    font-family: 'roboto';
    src: url(../fontes/Roboto-Bold.ttf);
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100vw;
    height: 100vh;
    background: white url(../imagens/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: linear-gradient(to bottom, black,  #253800);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px;
    text-align: center;
    
}
header > h1{
    padding: 10px;
    font-family: fundamentos, Arial, Helvetica, sans-serif;
    display: inline;
    color: white;
}



div#backBurguer{
    background-image: linear-gradient(to bottom, #253800, #446800);
    padding: 5px 0px 0px 0px;
    box-shadow: 1px 5px 5px -3px rgba(0, 0, 0, 0.589);
}

span#burguer{
    
    color: white;
    font-size: 2.5em;
    margin-left: 25px;
    display: inline;
    cursor: pointer;
    height: 44px;
    
    
    
}
span#burguer:hover{
    
    color: black;
}

menu#imenu{
    background-color: #446800;
    position: left;
    height: 100%;
    width: 100px;
    margin: 0px;
    display: none;
    float: left;
    padding: 20px 0px;
    transition: display 1s;
    box-shadow: 5px 1px 5px -3px rgba(0, 0, 0, 0.404);
}



p#casa{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 0px 10px 0px;
    text-align: center;
    background-color: #517c02;
    font-size: 1.4em;
    box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.459);
    
}

p#casa:hover{
    background-color: #365002;
    cursor: pointer;
}

p#ciclos{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 0px 10px 0px;
    text-align: center;
    background-color: #517c02;
    font-size: 1.4em;
    box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.459);
    margin-top: 10px;
}

p#ciclos:hover{
    background-color: #365002;
    cursor: pointer;
}

div#opcoes{
    background-color: #213301de;
    font-size: 1.1em;
    color: white;
    padding: 10px;
    float: left;
    position: relative;
    z-index: 1;
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.404);
    border-radius: 5px;
    width:270px;
    display: none;
}
p.txtopc{
    padding: 10px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.555);
}
p.txtopc:hover{
    background-color: #406402de;
    cursor: pointer;
}

option.sctBk{
    display: none;
    

}

option.estiloopt{
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 0.8em;
    font-family: roboto, Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.596);
    text-decoration: underline;
}

section#home{
    
    background-color: #446800a1;
    width: 80%;
    height: 570px;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}
section#home > h1{
    font-size: 2.0em;
    text-align: center;
}
section#home > h2{
    margin-top: 20px;
    text-align: center;
}

img.imgHome{
    width: 35px;
    margin-top: 5px;
    margin-top: 50px;
    margin-left: 10%;
}
a.aredes{
    padding: 10px;
    text-decoration: none;
    font-size: 1.0em;
    color: black;
    font-weight: bold;
    font-family: roboto, Arial, Helvetica, sans-serif;
    
}
a.aredes:hover{
    text-decoration: underline;
    font-style: italic;
}
ul#listahome{
    list-style: none;
}

