@charset "UTF-8";

@font-face {
    font-family: 'fundamentos';
    src: url(../fontes/mulled-wine-regular.ttf) format('truetype');
}
@font-face {
    font-family: 'roboto';
    src: url(../fontes/Roboto-Bold.ttf);
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    background: white url(../imagens/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: roboto, Arial, Helvetica, sans-serif;
}
header{
    background-image: linear-gradient(to bottom, black,  #253800);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px;
    text-align: center;
    
}
header > h1{
    padding: 10px;
    font-family: fundamentos, Arial, Helvetica, sans-serif;
    display: inline;
    color: white;
    cursor: pointer;
}


                                                    /*MENU*/


menu#imenu{
    background-color: #446800;
    position: left;
    height: 0px;
    width: 100px;
    margin: 0px;
    float: left;
    position: relative;
    z-index: 1;
    padding: 0px 0px;
    box-shadow: 5px 1px 5px -3px rgba(0, 0, 0, 0.404);



    transition-timing-function: linear;
    transition-duration: 0.5s;
    
}

div#backBurguer{
    background-image: linear-gradient(to bottom, #253800, #446800);
    padding: 5px 0px 0px 0px;
    box-shadow: 1px 5px 5px -3px rgba(0, 0, 0, 0.589);
}

span#burguer{
    
    color: white;
    font-size: 2.5em;
    margin-left: 25px;
    display: inline;
    cursor: pointer;
    height: 44px;
    
    
    
}
span#burguer:hover{
    
    color: black;
}



p#casa{
    text-decoration: none;
    color: white;
    display: none;
    padding: 10px 0px 10px 0px;
    text-align: center;
    background-color: #517c02;
    font-size: 1.4em;
    box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.459);
    transition: 0.5s;
    
}

p#casa:hover{
    background-color: #365002;
    cursor: pointer;
}

p#ciclos{
    text-decoration: none;
    color: white;
    display: none;
    padding: 10px 0px 10px 0px;
    text-align: center;
    background-color: #517c02;
    font-size: 1.4em;
    box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.459);
    margin-top: 10px;
    transition: 0.5s;
}

p#ciclos:hover{
    background-color: #365002;
    cursor: pointer;
}

div#opcoes{
    background-color: #213301de;
    font-size: 1.1em;
    color: white;
    padding: 10px;
    float: left;
    position: relative;
    z-index: 1;
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.404);
    border-radius: 5px;
    width:270px;
    display: none;
}
p.txtopc{
    padding: 10px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.555);
}
p.txtopc:hover{
    background-color: #406402de;
    cursor: pointer;
}

option.sctBk{
    display: none;
    

}

option.estiloopt{
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 0.8em;
    font-family: roboto, Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.596);
    text-decoration: underline;
}


                                                   /*HOME*/

section#home{
    display: block;
    float: none;
    position: relative;
    background-color: #446800a1;
    width: 80%;
    height: 570px;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    transition: 1s;
}
section#home > h1{
    font-size: 2.0em;
    text-align: center;
}
section#home > h2{
    margin-top: 20px;
    text-align: center;
}

img.imgHome{
    width: 35px;
    margin-top: 5px;
    margin-top: 50px;
    margin-left: 10%;
}
a.aredes{
    padding: 10px;
    text-decoration: none;
    font-size: 1.0em;
    color: black;
    font-weight: bold;
    font-family: roboto, Arial, Helvetica, sans-serif;
    
}
a.aredes:hover{
    text-decoration: underline;
    font-style: italic;
}
ul#listahome{
    list-style: none;
}


                                               /*PRIMEIRA PAGINA*/

#pri{
    display: none;
    float: none;
    position: relative;
    background-color: #f4fae9a1;
    width: 80%;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    transition: 1s;
    
}
#pri h1{
    text-align: center;
}
img.numero{
    width: 50px;
}
p.lista{
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 20px;
    cursor: pointer;
    
}
p.lista:hover{
    text-decoration: underline;
}
.container{
    display: flex;
    align-items: center;
    padding: 20px;
    text-align: center;
    
}
.capas{
    display: none;
    float: none;
    position: relative;
    background: linear-gradient(250deg, #F6F7F9 66%, #E3E7DE 50%);
    width: 80%;
    height: 720px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    transition: 1s;
}
.capas img{
    width: 100%;
    border-radius: 10px;
}
.paginas img{
    width: 100%;
    
}
.linkPDF{
    text-align: center;
    margin-top: 5px;
}
.linkPDF a{
    text-decoration: none;
    color: black;
}
.linkPDF a:hover{
    text-decoration: underline;
}
.cantoDcapas{
    background: #F4F8FB url(../imagens/seta-direita.png);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(100% - 50px);
    left: calc(100% - 50px);
    border-radius: 10px 0px 10px 0px;
    transition: 1s, box-shadow 0.2s ;
}
.cantoDcapas:hover{
    cursor: pointer;
    background: linear-gradient(135deg, #eaeaeb 00%, #f4f8fb 50%, rgba(0, 0, 0, 0.363) 50%, #cacaca 60%);
    box-shadow: -2px -2px 5px #21212188;
}
.paginas{

    display: none;
    float: none;
    position: relative;
    background-color: #FFFFFF;
    width: 80%;
    height: 700px;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    
}
.ultPaginas{
    display: none;
    float: none;
    position: relative;
    background: linear-gradient(250deg, #5C753E 65.2%, #6A7E3F 50%);
    width: 80%;
    height: 720px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    
}
.ultPaginas img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.cantoDpaginas{
    background: transparent url(../imagens/seta-direita.png);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(100% - 50px);
    left: calc(100% - 50px);
    border-radius: 10px 0px 10px 0px;
    transition: 1s, box-shadow 0.2s ;
}
.cantoDpaginas:hover{
    cursor: pointer;
    background: linear-gradient(135deg, #eaeaeb 00%, #f4f8fb 50%, rgba(0, 0, 0, 0.363) 50%, #cacaca 60%);
    box-shadow: -2px -2px 5px #21212188;
}
.cantoEpaginas{
    background: transparent url(../imagens/seta-esquerda.png);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(100% - 50px);
    left: 0;
    border-radius: 00px 10px 0px 10px;
    transition: 1s, box-shadow 0.2s ;
}
.cantoEpaginas:hover{
    cursor: pointer;
    background: linear-gradient(225deg, #eaeaeb 00%, #f4f8fb 50%, rgba(0, 0, 0, 0.363) 50%, #cacaca 60%);
    box-shadow: 2px -2px 5px #21212188;
}
.cantoEpaginasV{
    background: transparent url(../imagens/seta-esquerda.png);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(100% - 50px);
    left: 0;
    border-radius: 00px 10px 0px 10px;
    transition: 1s, box-shadow 0.2s ;
}
.cantoEpaginasV:hover{
    cursor: pointer;
    background: linear-gradient(225deg, #eaeaeb 00%, #f4f8fb 50%, rgba(0, 0, 0, 0.363) 50%, #cacaca 60%);
    box-shadow: 2px -2px 5px #21212188;
}



