.container_content{
    width: 100%;
    min-height: calc(100vh - 350px);
    background-color: var(--verdeClaro);
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.btn1,.btn2{
    background-color: var(--verde);
    padding: 1em 2em;
    width: 150px;
    height: 80px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    position: absolute;
    
    transition: all .5s ease;
}

.btn1:hover, .btn2:hover{
    background-color: white;
    border: 1px solid var(--verde);
    color: var(--verde);
    transform: scale(102%);
}

.btn1{
    left: 30%;
    top: 258px;
}

.btn2{
    right: 30%;
    top: 258px;
}

.click1{
    animation: click1 .5s ease-in-out;
}

.on1{
    left: 95px;
    top: 10px;
    transition: all .5s ease-in-out;
}

.off1{
    left: 95px;
    transition: all 1s ease-in-out;  
}

.on2{
    right: 105px;
    top: 10px;
    transition: all .5s ease-in-out;
}

.off2{
    right: 105px;
    transition: all 1s ease-in-out;  
}

.container_ciclos{
    display: flex;
    flex-direction: column;
    position: absolute;
}

.ciclosOS{
    top: 100px;
    left: 30px;
}

.ciclosNC{
    top: 100px;
    right: 30px;
}

.ciclos{
    margin: 5px 0 5px 0;
    background: transparent;
    border: 2px solid transparent;
    font-size: 1em;
    color: var(--verde);
    font-weight: 500;
    padding: 2px;
    cursor: pointer;
    border-radius: 10px;
    
    display: none;
    transition: all .5s ease;
}

.ciclos:hover{
    border: 2px solid var(--verde);
}

.active_link{
    border: 2px solid var(--verde);
}
