.container_content{
    width: 100%;
    min-height: calc(100vh - 350px);
    background-color: var(--verdeClaro);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    position: relative;
}

.btn1,.btn2{
    background-color: var(--verde);
    padding: 1em 2em;
    width: 150px;
    height: 80px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    position: absolute;
    
    transition: all .5s ease;
}

.btn1:hover, .btn2:hover{
    background-color: white;
    border: 1px solid var(--verde);
    color: var(--verde);
    transform: scale(102%);
}

.btn1{
    left: 30%;
    top: 258px;
}

.btn2{
    right: 30%;
    top: 258px;
}

.click1{
    animation: click1 .5s ease-in-out;
}

.on1{
    left: 95px;
    top: 10px;
    transition: all .5s ease-in-out;
}

.off1{
    left: 95px;
    transition: all 1s ease-in-out;  
}

.on2{
    right: 105px;
    top: 10px;
    transition: all .5s ease-in-out;
}

.off2{
    right: 105px;
    transition: all 1s ease-in-out;  
}

.container_ciclos{
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-bottom: 50px;
}

.ciclosOS{
    top: 100px;
    left: 30px;
}

.ciclosNC{
    top: 100px;
    right: 30px;
}

.ciclos{
    margin: 5px 0 5px 0;
    background: transparent;
    border: 2px solid transparent;
    font-size: 1em;
    color: var(--verde);
    font-weight: 500;
    padding: 2px;
    cursor: pointer;
    border-radius: 10px;
    
    display: none;
    transition: all .5s ease;
}

.ciclos:hover{
    border: 2px solid var(--verde);
}

.active_link{
    border: 2px solid var(--verde);
}

.fechar{
    display: none;
}


@media screen and (max-width: 890px) {

    .container_content{
        flex-direction: column;
        padding: 10px;
        position: inherit;
    }
    
    .btn1, .btn2{
        position: static;
        margin: 50px;
    }

    .container_ciclos{
        position: static;
    }

    .container_licoes{
        position: absolute;
        z-index: 999;
        padding: 50px;
    }

    .background_licoes{
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: calc(50% - 50vh);
        background-color: rgba(0, 0, 0, 0.911);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
        overflow-y: auto;
    }

    .fechar{
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 1000;
    }

    .fechar:hover{
        transform: scale(115%);
    }
}