.container_licoes {
  animation: render_container 1s ease-in-out forwards;
}

.container_licoes h1 {
  text-align: center;
  font-size: 1.4em;
  margin-top: 50px;
  color: var(--verde);
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.container_licoes h1::after {
  content: "";
  height: 2px;
  width: 0px;
  background-color: var(--verde);
  position: absolute;
  bottom: 8px;
  left: calc(50% - 75px);

  transition: all 0.5s ease-in-out;
}

.container_licoes h1:hover::after {
  width: 150px;
}

.container_licoes h1:hover .down {
  opacity: 1;
}

.container_licoes h1:target {
  color: red;
}

.container_licoes h2 {
  text-align: center;
  font-size: 1.1em;
  margin-top: 20px;
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.container_licoes h2::after {
  content: "";
  height: 2px;
  width: 0px;
  background-color: black;
  position: absolute;
  bottom: 8px;
  left: calc(50% - 75px);

  transition: all 0.5s ease-in-out;
}

.container_licoes h2:hover::after {
  width: 150px;
}

.container_licoes h2:hover .downBlack {
  opacity: 1;
}

.container_links {
  display: flex;
  justify-content: center;
  align-items: center;


  overflow-y: hidden;
  height: 0px;
}

.container_links ul {
  list-style: none;
}

.container_links li {
  margin-top: 10px;
  display: flex;
}

.container_links a {
  margin-left: 5px;
  text-decoration: none;
  color: black;
}

.container_links a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.down,
.downBlack {
  width: 10px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.container_versoes {
  overflow-y: hidden;
  height: 0px;
}

.activeVersoes{
    animation: render_versoes_open 1s ease-in-out forwards;
}

.activeLinks{
    animation: render_links_open 1s ease-in-out forwards;
}

.activePDF{
    animation: render_pdf_open 1s ease-in-out forwards;
}



@keyframes render_container {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes render_versoes_open {
    100% {
    opacity: 1;
    height: 100%;
  }
}

@keyframes render_links_open {
    100% {
    opacity: 1;
    height: 105px;
  }
}

@keyframes render_pdf_open {
    100% {
    opacity: 1;
    height: 35px;
  }
}

@media screen and (max-width: 890px){
  .container_licoes{
    z-index: 999;
  }

  .container_licoes h1{
    
    max-width: 280px;
  }
}

